:root {
    --header-footer-color: #344E41;
    --accent-color: #A3B18A;
    --background-color: #DAD7CD;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    height: 100vh;
}

#content {
    max-width: 1024px;
    background-color: white;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-footer-color);
    color: white;
    border: 1px solid black;
}

header h1 {
    padding: 0.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

header nav {
    border-left: 2px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

#heroImg {
    width: 100%;
}

#parkInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--accent-color);
    margin-top: -85px;
    opacity: 70%;
    border: 1px solid black;
}

#parkInfo h2 {
    border-right: 2px solid black;
    padding: 1rem;
}

#parkInfo div {
    padding: 1rem;
}

#parkMenu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    margin: 1rem;
}

#parkMenu ul li svg {
    width: 50px;
    height: 50px;
    display: block;
}

#parkMenu {
    background-color: var(--accent-color);
    border: 1px solid black;
}

#parkMenu ul li p {
    text-decoration: underline;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.is-hidden {
  display: none;
}

#menuOptions {
  position: absolute;
  z-index: 10;
  background-color: var(--header-color);
}

#menuOptions ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

#menuOptions li {
  padding: 0.75rem;
  cursor: pointer;  border-bottom: 1px solid var(--background-color);
}

#parkInfo {
  background-color: var(--accent-color);
}

#parkInfo.overlay-hover {
  background-color: var(--background-color);
}

footer {
    padding: 1rem;
    background-color: var(--header-footer-color);
    color: white;
    border: 1px solid black;
}